/*-----FAQ-----*/
.faq {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.faq-question {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 10px;
  font-size: 14px;
  color: #555;
}

/*-----Pricing-----*/
.pricing-card {
  background-color: gray;
  color: white;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.pricing-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pricing-card .price {
  font-size: 24px;
  margin-bottom: 15px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-card ul li {
  margin: 5px 0;
  font-size: 14px;
}

/*------------------------------------*\
    #COLORS
\*------------------------------------*/
.color-heading {
	color: #333333 !important;
}

.color-theme {
	color: #0096FF !important;
}

.color-white {
	color: #ffffff !important;
}

.color-gray {
	color: #f9f9f9 !important;
}


/*------------------------------------*\
    #BACKGROUNDS
\*------------------------------------*/
.bg-theme {
	background-color: #0096FF !important;
}

.bg-gray {
	background-color: #f9f9f9 !important;
}

.bg-gray2 {
	background-color: #f8f8f8 !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.bg-dark {
	background-color: #333333 !important;
}
